.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentList {
    padding: 0.5rem;
    background-color: var(--surface-border);
    border: solid var(--secondary) 1px;
    border-radius: 0.75rem;
}

.contentList li {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid var(--secondary) 1px;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: var(--surface);
    border-radius: 0.75rem;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
}

.contentList li:hover {
    transform: scale(1.02);
    background-color: var(--surface-border);
}

.contentList .link {
    text-decoration: none;
    color: var(--accent);
}

.footerAlunos {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem;
    padding: 0.5rem;
    background-color: var(--secondary);
    width: 100%;
    height: 100%;
}

.footerAlunos h5 {
    font-size: 1.25rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.aluno {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem;
}

.imgContainer {
    max-width: 8rem;
    max-height: 8rem;
    margin-bottom: 0.75rem;
}

.aluno img {
    width: 100%;
    height: 100%;
    border-radius: 0.75rem;
    margin-bottom: 0.75rem;
}